* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

div {
  border: solid red 2px;
}
