* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: #38bdf8;
  color: #ffffff;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  grid-column: 2 / -1;
}

.container {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

body > div {
  border: solid red 2px;
}
