* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div {
  /* border: solid red; */
}

:root {
  --background-blue: #3b82f6;
  --header-icon-width: 1.4rem;
  --header-icon-height: 1.4rem;
  --title-like-bold: 500;
  --subtitle-like-bold: 500;
  --search-and-pfp-padding: 42px;
}

ul {
  list-style: none;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
}

/* SIDEBAR */

.sidebar {
  background-color: var(--background-blue);
  color: #ffffff;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: minmax(192px, 1fr);
  grid-template-rows: 3rem 18rem 9rem;
  gap: 2.5rem;
  padding: 16px;
}

.dashboard-box {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 0.5rem;
}

.dashboard-logo {
  width: 3rem;
  height: 3rem;
  fill: white;
}

.dashboard-heading {
  font-size: 1.4rem;
  font-weight: var(--title-like-bold);
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 0 var(--subtitle-like-bold);
  gap: 1.5rem;
}

.sidebar li svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

.nav-links,
.meta-links {
  padding-left: 12px;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 8px var(--search-and-pfp-padding) 0 var(--search-and-pfp-padding);
  gap: 16px;
}

.search-bar svg {
  width: var(--header-icon-width);
  height: var(--header-icon-height);
}

#content-search-bar {
  height: 1.8rem;
  width: 100%;
  border-radius: 50px;
  background-color: #e2e8f0;
  padding: 16px;
}

#content-search-bar:focus {
  border-color: #1992d4;
}

.bell-and-name {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 72px;
  gap: 24px;
  font-weight: var(--title-like-bold);
}

.bell-and-name svg {
  width: var(--header-icon-width);
  height: var(--header-icon-height);
}

.profile-picture {
  background-color: #facc15;
  border-radius: 50%;
  padding: 6px;
}

.bell-and-name .profile-picture {
  width: 2.25rem;
}

.greetings {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0 var(--search-and-pfp-padding);
}

.greetings .profile-picture {
  grid-row: 1 / -1;
  width: 3.8rem;
}

.greeting-text {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actual-greeting {
  font-size: 12px;
  font-weight: var(--title-like-bold);
}

.greeting-name {
  font-weight: 700;
  font-size: 1.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 1fr));
  align-items: center;
  gap: 24px;
  margin-right: 52px;
}

.header button {
  background-color: var(--background-blue);
  font-weight: 800;
  height: 36px;
  /* padding: 0 16px; */
  border-radius: 50px;
  color: #ffffff;
}

/* MAIN CONTENT */
